.edit {
  position: relative;
}

.editItem {
  position: absolute;
  top: 5px;
  right: 5px;
  border-bottom: 1px solid #212529;
}

.editItem:hover {
  cursor: pointer;
  color: #00a39c;
  border-color: #00a39c;
  transition: 0.2s ease-in-out;
}

.btnSave {
  background-color: #00a39c;
  color: #fff;
}

:hover .btnSave {
  background-color: #00a39c;
  color: #fff;
}

:active .btnSave {
  background-color: #00a39c;
  color: #fff;
}

.logoutBtn {
  background-color: transparent;
  border: 1px solid #db1e1e;
  border-radius: 14px;
  width: 200px;
  padding: 4px 10px;
  font-weight: 600;
  color: #db1e1e;
}
