.listCard {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.listCard img {
  width: 108px;
  height: 94px;
  object-fit: cover;
  border: none;
  border-radius: 12px;
}
.listCard .skeleton {
  width: 108px;
  height: 94px;
  object-fit: cover;
  border: none;
  border-radius: 12px;
}
.skeleton {
  width: 100%;
  height: 100%;
  background-color: #a8a8a8;
  position: relative;
  overflow: hidden;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: skeletonAnimation 1.5s infinite linear;
}

@keyframes skeletonAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
